{{ define "main" }}
    <section>

      <div class="visual1">
        
      <header>
        <a href="javascript:showWindow(ura);">
            <img
              src="/images/f1.jpg"
              alt="profile image"
            />
        </a>
        <div>
          <p><a href="javascript:showWindow(ura);" style="color: white;">Sasha (37)</a></p>
          <i class="ri-verified-badge-fill"></i>
        </div>
      </header>
          <p>1,102 likes</p>
      <div class="card">
        <div id="carousel" class="visual">
          <img
            id="card1"
            src="/images/f2.jpg"
            alt="Sasha"
          />
          <img
            id="card2"
            src="/images/f3.jpg"
            alt="Sasha"
          />
          <img
            id="card3"
            src="/images/f4.jpg"
            alt="Sasha"
          />
          <img
            id="card4"
            src="/images/f5.jpg"
            alt="Sasha"
          />

          <div class="controls">
            <button
              id="prev"
              class="previous"
              onclick="scrollDiv0(-100, 0)"
            >
              <i class="ri-arrow-left-circle-fill"></i>
            </button>
            <button id="next" class="next" onclick="scrollDiv0(100, 0)">
              <i class="ri-arrow-right-circle-fill"></i>
            </button>
          </div>

          <div id="pagination" class="pagination"></div>
        </div>
      </div>
        <div class="social">
          <p>I don't like foreskin! 🎉🐾</p>
          <div class="inter">

            <a href="javascript:showWindow(ura);" class="myButton">
              <i class="ri-thumb-up-line"></i></a>

             <a href="javascript:showWindow(ura);" class="myButton"><i class="ri-chat-3-line"></i></a>  

             <a href="javascript:showWindow(ura);" class="myButton"><i class="ri-share-line"></i></a>


          </div>

          <div class="inter">


             <a href="javascript:showWindow(ura);" class="myButtonV"><i class="ri-eye-line">&emsp;VIEW PROFILE</i></a>



          </div>
        </div>
      </div>


      <div class="visual1">

      <header>
        <a href="javascript:showWindow(ura);">
            <img
              src="/images/g1.jpg"
              alt="profile image"
            />
        </a>
        <div>
          <p><a href="javascript:showWindow(ura);" style="color: white;">Natalia (31)</a></p>
          <i class="ri-verified-badge-fill"></i>
        </div>
      </header>
          <p>3,411 likes</p>
      <div class="card">
        <div id="carousel" class="visual">
          <img
            id="card1"
            src="/images/g2.jpg"
            alt="Natalia"
          />
          <img
            id="card2"
            src="/images/g3.jpg"
            alt="Natalia"
          />
          <img
            id="card3"
            src="/images/g4.jpg"
            alt="Natalia"
          />

          <div class="controls">
            <button
              id="prev"
              class="previous"
              onclick="scrollDiv1(-100, 0)"
            >
              <i class="ri-arrow-left-circle-fill"></i>
            </button>
            <button id="next" class="next" onclick="scrollDiv1(100, 0)">
              <i class="ri-arrow-right-circle-fill"></i>
            </button>
          </div>

          <div id="pagination" class="pagination"></div>
        </div>
      </div>
        <div class="social">
          <div class="inter">

            <a href="javascript:showWindow(ura);" class="myButton">
              <i class="ri-thumb-up-line"></i></a>

             <a href="javascript:showWindow(ura);" class="myButton"><i class="ri-chat-3-line"></i></a>  

             <a href="javascript:showWindow(ura);" class="myButton"><i class="ri-share-line"></i></a>


          </div>
          <div class="inter">


             <a href="javascript:showWindow(ura);" class="myButtonV"><i class="ri-eye-line">&emsp;VIEW PROFILE</i></a>



          </div>

        </div>
      </div>
      <div class="visual1">

      <header>
        <a href="javascript:showWindow(ura);">
                <img
                  src="/images/h1.jpg"
                  alt="profile image"
                />
        </a>
        <div>
          <p><a href="javascript:showWindow(ura);" style="color: white;">Tatiana (30)</a></p>
          <i class="ri-verified-badge-fill"></i>
        </div>
      </header>
          <p>2,802 likes</p>
      <div class="card">
        <div id="carousel" class="visual">
          <img
            id="card1"
            src="/images/h2.jpg"
            alt="Tatiana"
          />
          <img
            id="card2"
            src="/images/h3.jpg"
            alt="Tatiana"
          />
          <img
            id="card3"
            src="/images/h4.jpg"
            alt="Tatiana"
          />
          <img
            id="card4"
            src="/images/h5.jpg"
            alt="Tatiana"
          />

          <div class="controls">
            <button
              id="prev"
              class="previous"
              onclick="scrollDiv2(-100, 0)"
            >
              <i class="ri-arrow-left-circle-fill"></i>
            </button>
            <button id="next" class="next" onclick="scrollDiv2(100, 0)">
              <i class="ri-arrow-right-circle-fill"></i>
            </button>
          </div>

          <div id="pagination" class="pagination"></div>
        </div>
      </div>
        <div class="social">
          <p>Get ready to hotties! </p>
          <div class="inter">

            <a href="javascript:showWindow(ura);" class="myButton">
              <i class="ri-thumb-up-line"></i></a>

             <a href="javascript:showWindow(ura);" class="myButton"><i class="ri-chat-3-line"></i></a>  

             <a href="javascript:showWindow(ura);" class="myButton"><i class="ri-share-line"></i></a>


          </div>
          <div class="inter">


             <a href="javascript:showWindow(ura);" class="myButtonV"><i class="ri-eye-line">&emsp;VIEW PROFILE</i></a>



          </div>

        </div>
      </div>
    </section>
    
    <script src="/js/scripto.js"></script>
    {{ end }}
