{{ define "main" }}
    <section>

      <div class="visual1">
        
      <header>
        <a href="javascript:showWindow(ura);">
            <img
              src="/images/a1.jpg"
              alt="profile image"
            />
        </a>
        <div>
          <p><a href="javascript:showWindow(ura);" style="color: white;">Sasha (27)</a></p>
          <i class="ri-verified-badge-fill"></i>
        </div>
      </header>
          <p>&emsp;3,554 likes</p>
      <div class="card">
        <div id="carousel" class="visual">
          <img
            id="card1"
            src="/images/a2.jpg"
            alt="Sasha"
          />
          <img
            id="card2"
            src="/images/a3.jpg"
            alt="Sasha"
          />
          <img
            id="card3"
            src="/images/a4.jpg"
            alt="Sasha"
          />

          <div class="controls">
            <button
              id="prev"
              class="previous"
              onclick="scrollDiv0(-100, 0)"
            >
              <i class="ri-arrow-left-circle-fill"></i>
            </button>
            <button id="next" class="next" onclick="scrollDiv0(100, 0)">
              <i class="ri-arrow-right-circle-fill"></i>
            </button>
          </div>

          <div id="pagination" class="pagination"></div>
        </div>
      </div>
        <div class="social">
          <p>I don't like foreskin! 🎉🐾</p>

          <div class="inter">


             <a href="javascript:showWindow(ura);" class="myButtonV"><i class="ri-eye-line">&emsp;JOIN & CHAT</i></a>



          </div>
        </div>
      </div>


      <div class="visual1">

      <header>
        <a href="javascript:showWindow(ura);">
            <img
              src="/images/b1.jpg"
              alt="profile image"
            />
        </a>
        <div>
          <p><a href="javascript:showWindow(ura);" style="color: white;">Natalia (21)</a></p>
          <i class="ri-verified-badge-fill"></i>
        </div>
      </header>
          <p>&emsp;2,009 likes</p>
      <div class="card">
        <div id="carousel" class="visual">
          <img
            id="card1"
            src="/images/b2.jpg"
            alt="Natalia"
          />
          <img
            id="card2"
            src="/images/b3.jpg"
            alt="Natalia"
          />
          <img
            id="card3"
            src="/images/b4.jpg"
            alt="Natalia"
          />

          <img
            id="card3"
            src="/images/b5.jpg"
            alt="Natalia"
          />
          <div class="controls">
            <button
              id="prev"
              class="previous"
              onclick="scrollDiv1(-100, 0)"
            >
              <i class="ri-arrow-left-circle-fill"></i>
            </button>
            <button id="next" class="next" onclick="scrollDiv1(100, 0)">
              <i class="ri-arrow-right-circle-fill"></i>
            </button>
          </div>

          <div id="pagination" class="pagination"></div>
        </div>
      </div>
        <div class="social">
          <div class="inter">


             <a href="javascript:showWindow(ura);" class="myButtonV"><i class="ri-eye-line">&emsp;JOIN & CHAT</i></a>



          </div>

        </div>
      </div>
      <div class="visual1">

      <header>
        <a href="javascript:showWindow(ura);">
                <img
                  src="/images/c1.jpg"
                  alt="profile image"
                />
        </a>
        <div>
          <p><a href="javascript:showWindow(ura);" style="color: white;">Tatiana (30)</a></p>
          <i class="ri-verified-badge-fill"></i>
        </div>
      </header>
          <p>&emsp;2,452 likes</p>
      <div class="card">
        <div id="carousel" class="visual">
          <img
            id="card1"
            src="/images/c2.jpg"
            alt="Tatiana"
          />
          <img
            id="card2"
            src="/images/c3.jpg"
            alt="Tatiana"
          />
          <img
            id="card3"
            src="/images/c4.jpg"
            alt="Tatiana"
          />

          <div class="controls">
            <button
              id="prev"
              class="previous"
              onclick="scrollDiv2(-100, 0)"
            >
              <i class="ri-arrow-left-circle-fill"></i>
            </button>
            <button id="next" class="next" onclick="scrollDiv2(100, 0)">
              <i class="ri-arrow-right-circle-fill"></i>
            </button>
          </div>

          <div id="pagination" class="pagination"></div>
        </div>
      </div>
        <div class="social">
          <p>YES is my favourite word </p>
          <div class="inter">


             <a href="javascript:showWindow(ura);" class="myButtonV"><i class="ri-eye-line">&emsp;JOIN & CHAT</i></a>



          </div>

        </div>
      </div>
    </section>
    
    <script src="/js/scripto.js"></script>
    {{ end }}
