<!DOCTYPE html>
<html lang="en">
<head>
        <title>{{ block "title" . }}
      {{ .Site.Title }}
    {{ end }}</title>

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css"
      rel="stylesheet"/>
    <link rel="stylesheet" href="/css/styles.css" />
  </head>

<body>
    
      <header class="header">
			<div class="logo"><a class="header__left-logo redirectlink"><img  src="/images/text866.png"
						alt="D.S. Flirting"></a></div>
		</header>

                {{ block "main" . }}

                {{ end }}
                {{ partial "form1.html" . }}
    <script>
const param = new URLSearchParams(document.location.search);
    // let uri = "https://bing.com/";
  //   let uri = "https://dd.adipiscing.workers.dev/click";
         let uri = "https://2464b3b2-85e6-4910-81db-cdf0588c909b-00-3l6am6yo59ooe.sisko.replit.dev/click"
       if (!param) {
var ura = uri;

       } else {
       var ura = uri + '?' + param;
       }

function showWindow(url) {


    window.open(url, "_self");
            return false;
       }

</script> 

</body>
</html>
